body, html {
  height: 100%;
  margin: 0;
  padding:0;
  width: 100%;
}
.todo-details {
  display:flex;
  flex-direction:column;

  header {
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      padding:.5em 1em;
  }

  .item {
      flex:1;
      padding: 1em;
  }
}

#formCard {
  padding: 1em;
}

#cardBody {
  #diff {
    font-size: 10px;
    float: right;
  }
  #taskText {
    margin-bottom: 0;
    cursor:pointer;
  }
}

nav {
  a {
    margin-left: 20px;
    color: white;
  }
}

#navBlack {
  background: gray;
  margin: 30px 30px 30px 30px;
  padding-left: 10px;
  border-radius: 3px;
  color: white;
}


.badge-danger {
  background :red;
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  cursor: pointer;
}

.badge-success {
  background:green;
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  cursor: pointer;
}

#listItem {
  box-shadow: 5px 5px 10px rgb(198, 195, 195);
}

.card {
  margin-bottom: 30px;
}

.todo {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  margin: 2em;

  .mr-auto {
    margin-right: 200px;
    margin-left: 30px;
  }


  form {
      display:flex;
      flex-direction:column;
      margin-right: 2em;

      label {
          display: flex;
          flex-direction:column;
          margin-bottom: 1em;
      }

      #formGroupMargin {
        margin-top: 30px;
      }
  }

  #listGroup {
      list-style-type:none;
      margin-left: 40px;
      padding:0;
      width: 450px;


      #listGroupItem {

          align-items: center;
          display:flex;
          flex-direction:row;
          font-size: .75em;
          background: rgb(176, 213, 176);
          float: left;
          margin-right: 10px;
          width: 325px;

          &.complete-false {
            &:hover {
              background: pink;
            }
          }

          &.complete-true {
            background: pink;
            text-decoration:line-through;
            &:hover {
                background: rgb(48, 122, 80);
            }
          }
          #deleteButton {
            background-color: rgb(6, 71, 27);
            color: white;
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 2px;
            float: left;
            margin-left: 15px;
          }


          #listGroupItem {
              background: #e0e0e0;
              cursor:pointer;
              &:hover {
                  background: pink;
              }
          }
          #listGroupItem, input, div {
              border: .5px solid #eee;
              display:inline-block;
              padding: .2em .25em;
              width: 300px;
           }

          button {
              background: transparent;
              border:none;
              color:blue;
              cursor:pointer;
              padding:0;
              margin: 0 .75em;
          }

      }
  }

}
